<!-- NAV -->
<div class="container">
  <header class="d-flex align-items-center justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">Home</a>
      </li>
      <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>
</div>
<div class="b-example-divider"></div>

<!-- MAIN -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-success m-1">
        <i class="fa fa-whatsapp"></i>
        Kirim
      </button>
      <button class="btn btn-primary m-1">
        <i class="fa fa-plus"></i>
        Tambah
      </button>
      <button class="btn btn-secondary m-1">
        <i class="fa fa-trash"></i>
        Hapus
      </button>
      <button class="btn btn-warning m-1">
        <i class="fa fa-edit"></i>
        Edit
      </button>
      <button class="btn btn-info m-1">
        <i class="fa fa-search"></i>
        Cari
      </button>
      <button class="btn btn-danger m-1">
        <i class="fa fa-times"></i>
        Batal
      </button>
      <div class="input-group mb-3 m-1">
        <input type="text" class="form-control" placeholder="Ini Textbox" />
      </div>
      <select class="form-select form-select-sm mb-3 m-1">
        <option value="si">SI</option>
        <option value="ti">TI</option>
      </select>
    </div>
  </div>
</div>

<!-- FILTER -->
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5">
  <div
    class="dropdown-menu d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden w-280px"
    data-bs-theme="light"
  >
    <form class="p-2 mb-2 bg-body-tertiary border-bottom">
      <input
        type="search"
        class="form-control"
        autocomplete="false"
        placeholder="Type to filter..."
      />
    </form>
    <ul class="list-unstyled mb-0">
      <li>
        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
          <span class="d-inline-block bg-success rounded-circle p-1"></span>
          Action
        </a>
      </li>
      <li>
        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
          <span class="d-inline-block bg-primary rounded-circle p-1"></span>
          Another action
        </a>
      </li>
      <li>
        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
          <span class="d-inline-block bg-danger rounded-circle p-1"></span>
          Something else here
        </a>
      </li>
      <li>
        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
          <span class="d-inline-block bg-info rounded-circle p-1"></span>
          Separated link
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- MODAL -->
<div
  class="modal modal-sheet position-static d-block bg-body-white p-4 py-md-5"
  tabindex="-1"
  role="dialog"
  id="modalSheet"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body py-0">
        <p>
          This is a modal sheet, a variation of the modal that docs itself to
          the bottom of the viewport like the newer share sheets in iOS.
        </p>
      </div>
      <div
        class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0"
      >
        <button type="button" class="btn btn-lg btn-primary">
          Save changes
        </button>
        <button
          type="button"
          class="btn btn-lg btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-primary">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-primary">Features</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-primary">Pricing</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-primary">FAQs</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-primary">About</a>
      </li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2023 STMIK Pontianak</p>
  </footer>
</div>
