<div class="row mx-2">
  <div class="col-12">
    <h1>{{ nama }} {{ nim }}</h1>
  </div>
  <div class="col-12">
    <button class="btn btn-success m-1">
      <i class="fa fa-whatsapp"></i>
      Kirim
    </button>
    <button class="btn btn-primary m-1">
      <i class="fa fa-plus"></i>
      Tambah
    </button>
    <button class="btn btn-secondary m-1">
      <i class="fa fa-trash"></i>
      Hapus
    </button>
    <button class="btn btn-warning m-1">
      <i class="fa fa-edit"></i>
      Edit
    </button>
    <button class="btn btn-info m-1">
      <i class="fa fa-search"></i>
      Cari
    </button>
    <button class="btn btn-danger m-1">
      <i class="fa fa-times"></i>
      Batal
    </button>
    <div class="input-group mb-3 m-1">
      <input type="text" class="form-control" placeholder="Ini Textbox" />
    </div>
    <select class="form-select form-select-sm mb-3 m-1">
      <option value="si">SI</option>
      <option value="ti">TI</option>
    </select>
  </div>
</div>
